#middleColumn {
  float: left;
  width: 44%;
  padding: 10px;
  height: 610px;
  text-align:center;
  margin-left: -1px;
  border: 1px solid rgb(160, 152, 142);
  border-collapse: collapse;
}
#button1{
  margin:auto;
  padding-top: 48px;
}
#button2{
  margin:auto;
}

.buttonBlue {
  background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .buttonRed {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }