<div class="rightColumn">
    <h2 style="border-bottom: 1px solid rgb(160, 152, 142);">Details</h2>
    <div class="htmlDiv">
        <h4>HTML</h4>
        {{htmlData}}
    </div>
    <div class="cssDiv">
        <h4>CSS</h4>
        <div class="cssData" *ngFor="let csClass of cssData" (click)="loadCard()">
            <button>{{csClass}}<i class="fas fa-angle-down icon"></i></button>

        </div>
        <div class="innerCss" *ngIf="showInnerCss">
            {{innerCssData}}
        </div>
    </div>